body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  background: #0b0b0b;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/*nav bar*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: x-large;
}

.nav-wrapper > .right-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: xx-large;
}

.nav-link-wrapper {
  height: 60px;
  border-bottom: 8px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 8px solid white;
}

.active-nav-link a {
  color: white !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 8px solid white;
}

.nav-link-wrapper a:hover {
  color: white;
}

/*gallery*/

.gallery {
  margin: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 100%;
  margin: .5vw;
}

.image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .image {
    margin: 0;
  }
  .gallery {
    padding: 0;
  }
}

/*about me*/
.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper h1 pre{
  color: white;
  font-size: 100px;
}
